<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
       
    <script src="../angular.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="userApp" ng-controller="userCtrl">
    <center><h1>BOOK STORE</h1></center>
   <center> Search Book: <input type="text" class="form-control w-25 mb-5" ng-model="search" ng-change="myFunc()"></center>
    <table class="table table-boredered">
        <thead>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Book Price</th>
            <th>Image</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in userData | filter : search">
                <td>{{item.bookID}}</td>
                <td>{{item.bookName}}</td>
                <td>{{item.authorName}}</td>
                <td>{{item.bookPrice}}</td>
            
                
                        
                <td width="20%"><img src='/Images/{{item.image}}' height="10%" width="10%"></td>
                
                <td><button class="btn btn-danger" ng-click="deleteItem(item.bookID)">Delete</button>
                    <button class="btn btn-warning" ng-click="updateItem(item)">Edit</button>
                    <button class="btn btn-success" ng-click="displayData(item)">Show more</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <form ng-submit="addUser()">
        <input type="text" class="form-control" placeholder="Enter Book ID" ng-model="newuserData.bookID">
        <input type="text" class="form-control" placeholder="Enter Book Name" ng-model="newuserData.bookName">
        <input type="text" class="form-control" placeholder="Enter Book Author" ng-model="newuserData.authorName">
        <input type="text" class="form-control" placeholder="Enter Book Price" ng-model="newuserData.bookPrice">
        <input type="text" class="form-control" placeholder="Enter Book Description" ng-model="newuserData.description">
        <input type="text" class="form-control" placeholder="Enter Book Pages" ng-model="newuserData.noofpages">

        <button type="submit" value="Add User" class="btn btn-success">Add User</button>
    </form>

    <form ng-show="edit" method="post" ng-submit="editItem(updatedItem)">
        <input type="text" class="form-control" placeholder="Enter User ID" ng-model="updatedItem.bookID"
            ng-disabled="true">
        <input type="text" class="form-control" placeholder="Enter Book Name" ng-model="updatedItem.bookName">
        <input type="text" class="form-control" placeholder="Enter Book Author" ng-model="updatedItem.authorName">
        <input type="text" class="form-control" placeholder="Enter Book Price" ng-model="updatedItem.bookPrice">
        <input type="text" class="form-control" placeholder="Enter Book Description" ng-model="updatedItem.description">
        <input type="text" class="form-control" placeholder="Enter Book Pages" ng-model="updatedItem.noofpages">

        <button type="submit" value="Update User" class="btn btn-warning">Update User</button>
    </form>

    <form ng-show="desc">
        <center>
    <table style="border: 1px solid;">
        <tr>
            <td colspan="5">Book Name: {{bookName}}</td>
        </tr>
        <tr>
            <td colspan="5">authorName: {{authorName}}</td>
        </tr>
        <tr>
            <td colspan="5">Description: {{description}}</td>
        </tr>
        <tr>
            <td colspan="5">bookPrice: {{bookPrice}}</td>
        </tr>
        <tr>
            <td colspan="5">No of pages: {{noofpages}}</td>
        </tr>  
        <tr>
            <td colspan="5"><img src='/Images/{{image}}' height="10%" width="10%"></td>
        </td>
        </tr>      
    </table>
</center>

</form>
    
</body>

</html>